<!--<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <%# @list_of_boards.each do |a_board| %>-->
<!--      <tr>
        <td>
          <%#= a_board.id %>-->
<!--        </td>

        <td>
          <%#= a_board.name %>-->
<!--        </td>

        <td>
          <%#= time_ago_in_words(a_board.created_at) %> ago-->
<!--        </td>
        <td>
          <%#= time_ago_in_words(a_board.updated_at) %> ago-->
<!--        </td>

        <td>
          <a href="/boards/<%#= a_board.id %>">
            Show details
          </a>
        </td>
      </tr>
      <%# end %>-->
<!--    </table>
  </div>
</div>

<hr>
-->
